# Database
DATABASE_URL="mysql://root:root@localhost:3306/mesa_digital"

# Auth
JWT_SECRET="change-me-to-a-strong-secret-min-32-chars"
JWT_SESSION_SECRET="another-secret-for-client-sessions-32-chars"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_SOCKET_URL="http://localhost:3000"
PORT=3000

# Admin padrão (criado no seed)
SEED_ADMIN_EMAIL="admin@mesadigital.com"
SEED_ADMIN_PASSWORD="admin123"
